In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
from scipy import stats

In [2]:
credit = pd.read_csv('creditpromo.csv')

In [3]:
credit.head()

     id         insert      dollars
0   148       Standard  2232.771979
1   572  New Promotion  1403.807542
2   973       Standard  2327.092181
3  1096       Standard  1280.030541
4  1541  New Promotion  1513.563200

In [4]:
standard = credit[credit['insert']=='Standard']
new = credit[credit['insert']=='New Promotion']

In [5]:
standard

         id    insert      dollars
0       148  Standard  2232.771979
2       973  Standard  2327.092181
3      1096  Standard  1280.030541
7      2130  Standard  1476.624884
8      2616  Standard  1460.769753
10     3340  Standard  1495.287185
12     3539  Standard  1949.593799
16     3962  Standard  1856.952637
18     4900  Standard  1470.676520
19     5126  Standard  1567.241966
20     5731  Standard  1627.402502
27     7294  Standard  1903.644496
28     7355  Standard  1696.944255
30     7820  Standard  1334.263743
36    11365  Standard  2032.939401
39    12207  Standard  1766.628062
41    12494  Standard  1987.125609
43    13960  Standard  1876.318397
45    14635  Standard  1364.740069
50    15841  Standard  1479.348892
52    16568  Standard  1775.435586
53    16796  Standard  1107.788602
54    16970  Standard  2149.390539
57    17205  Standard  1334.184838
59    17550  Standard  1084.511537
63    18382  Standard  2149.707318
64    18610  Standard   806.038108
66    20766  Standard  1564.827348
67    21069  Standard  1615.414126
70    21411  Standard   844.365391
..      ...       ...          ...
446  119535  Standard  1596.620554
449  120856  Standard  1182.482901
450  121130  Standard  1325.241587
451  121254  Standard  1464.759779
454  121611  Standard  2354.058597
457  122265  Standard  1782.725542
459  122401  Standard  1732.606177
460  122843  Standard   967.522775
462  122966  Standard  1893.024484
464  123513  Standard  1448.627481
465  123593  Standard  1846.564101
466  123824  Standard  1443.140227
468  124129  Standard  1931.169188
470  124247  Standard  1279.992367
471  124444  Standard  1441.892893
473  124573  Standard  1171.052396
474  124783  Standard  1119.817875
475  124795  Standard  1544.837588
477  125105  Standard  2711.723836
478  125416  Standard  1624.643932
482  126362  Standard  1501.737823
483  126552  Standard  1534.788794
484  126831  Standard  1459.861106
487  127695  Standard  1577.331710
488  128093  Standard  2158.363912
490  128993  Standard  1336.515307
493  129779  Standard  1330.233179
497  130255  Standard  1919.856304
498  130583  Standard  1863.014814
499  130682  Standard  1295.012183

[250 rows x 3 columns]

In [6]:
new

         id         insert      dollars
1       572  New Promotion  1403.807542
4      1541  New Promotion  1513.563200
5      1947  New Promotion  1729.627996
6      2001  New Promotion  1609.705918
9      2886  New Promotion  1854.489028
11     3400  New Promotion  1107.214665
13     3730  New Promotion  2144.648233
14     3906  New Promotion   784.079268
15     3924  New Promotion  1409.659672
17     4465  New Promotion  2226.116275
21     5945  New Promotion  1869.394299
22     6362  New Promotion  1629.100093
23     6486  New Promotion  2006.784822
24     6501  New Promotion  2096.784497
25     6651  New Promotion  1445.525114
26     6802  New Promotion  1887.139044
29     7659  New Promotion  1644.567777
31     8113  New Promotion  1668.488341
32     8213  New Promotion  1154.142494
33     9586  New Promotion  1856.249067
34     9864  New Promotion  1612.231322
35     9917  New Promotion  1655.097783
37    11702  New Promotion  1555.936956
38    11759  New Promotion  1761.031352
40    12363  New Promotion  1835.168516
42    13387  New Promotion  1251.476156
44    14351  New Promotion  1647.968298
46    15336  New Promotion  1988.142058
47    15520  New Promotion  1969.483043
48    15694  New Promotion  2334.900042
..      ...            ...          ...
434  117191  New Promotion  1820.727811
435  117444  New Promotion  1579.874834
437  117654  New Promotion  1741.373395
439  118083  New Promotion  1345.797025
442  118515  New Promotion  2019.611311
443  118649  New Promotion  1429.154628
447  119716  New Promotion  1829.787576
448  119736  New Promotion  1938.811633
452  121363  New Promotion  1406.311101
453  121566  New Promotion  1810.798641
455  121622  New Promotion  1442.194785
456  122076  New Promotion  1837.921012
458  122331  New Promotion  1451.364975
461  122908  New Promotion  1686.289524
463  123085  New Promotion  2196.829453
467  124029  New Promotion  1500.231108
469  124138  New Promotion  1578.460543
472  124463  New Promotion  2637.884197
476  125058  New Promotion  2007.308286
479  125716  New Promotion  1892.595468
480  126180  New Promotion  1768.335246
481  126217  New Promotion  1384.100804
485  127429  New Promotion  1612.072114
486  127535  New Promotion  1399.900542
489  128225  New Promotion  1016.125455
491  129531  New Promotion  2227.464385
492  129634  New Promotion  2007.541756
494  130128  New Promotion  2000.050800
495  130163  New Promotion  1513.060134
496  130204  New Promotion  1020.757943

[250 rows x 3 columns]

In [7]:
stats.ttest_ind(standard['dollars'], new['dollars'])

Ttest_indResult(statistic=-2.2604227264649963, pvalue=0.024225996894147814)

In [8]:
sm.stats.ttest_ind(standard['dollars'], new['dollars'], alternative='two-sided', usevar='pooled', value=0)

(-2.2604227264650034, 0.024225996894147395, 498.0)

In [9]:
sm.stats.ttest_ind(standard['dollars'], new['dollars'], alternative='two-sided', usevar='unequal', value=0)

(-2.2604227264650034, 0.02422634819164853, 497.59542708452733)